body {
    font-family: Arial, sans-serif;
    background-image: url('Fondo.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Para que la imagen cubra todo el espacio del contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border-radius: 10px; /* Esto es opcional, pero puede hacer que los bordes se vean más suaves */
}

.navbar-bg {
    background-image: url('Inicio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-nav .nav-link {
    color: black; /* Cambia al color que prefieras */
}

.navbar-nav .nav-link:hover {
    color: red; /* Cambia al color que prefieras para cuando el enlace se active o pase el cursor */
}

.times {
    font-family: 'Times New Roman', Times, serif;
}

.medio {
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    color: black !important;
}

.navbar-nav {
    color: black !important;
}

.text-success {
    color: #28a745;
}

footer {
    background-color: #6c757d;
    color: white;
}

footer p {
    margin: 0;
    padding: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
  
.destino {
    padding: 20px;
    width: 30%;
    margin-bottom: 20px;
}
  
.palenque {
    background-color: #FF9D9D; /* Color de fondo para Palenque */
}

.tonala {
    background-color: #FAA371;
}

.sancris{
    background-color: #DB931A;
}

.selva {
    background-color: #ff7e7e;
}

.lagunas {
    background-color: #f88d4f;
}

.corzo {
    background-color: #df6e11;
}
  
.restaurante {
    padding: 2px;
    margin-bottom: 2px;
}